:root {
  --colorlvl0: #ef1717;
  --colorlvl1: #ef8a17;
  --colorlvl2: #efeb17;
  --colorlvl3: #78ef17;
  --colorlvl4: #17efdd;
  --colorlvl5: #1b17ef;
  --colorlvl6: #b217ef;
  --colorlvl7: #ef177c;
}