@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url(../fon/fon.png);
}

:root {
  --colorlvl0: #ef1717;
  --colorlvl1: #ef8a17;
  --colorlvl2: #efeb17;
  --colorlvl3: #78ef17;
  --colorlvl4: #17efdd;
  --colorlvl5: #1b17ef;
  --colorlvl6: #b217ef;
  --colorlvl7: #ef177c;
  --color1: #F78888;
  --color2: #F3D250;
  --color3: #ECECEC;
  --color4: #88BDBC;
  --color5: #0000006a;
  --color6: #000;
}

.wrapperlvl0 {
  width: 100%;
  height: 100%;
}

.wrapperlvl0-button {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

/* Стиль для кнопок */
.wrapperlvl0 button {
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl0 button img {
  width: 150px;
}

.wrapperlvl1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl1 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl1 .modal-content {
  background-image: url(../fon/fon.png);
  border: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperlvl1 .modal-content .nav-wrapper button {
  background: transparent;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl1 .modal-content .nav-wrapper button img {
  width: 50px;
}

.wrapperlvl1 .modal-content .nav-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperlvl1 .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: 60%;
  height: 80%;
}

.wrapperlvl1 .button-wrapper button {
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  width: 25%;
  height: 40%;
}

.wrapperlvl1 .button-wrapper button:hover {
  border: 1px solid #e2614a;
  border-radius: 20px;
}

.wrapperlvl1 .button-wrapper button .button-txt {
  font-size: 20px;
  color: var(--color5);
}

.wrapperlvl1 .button-wrapper button img {
  background: transparent;
  width: 60%;
}

@media (max-width: 768px) {
  .wrapperlvl1 .button-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    width: 100%;
    height: 80%;
  }
  .wrapperlvl1 .button-wrapper button {
    width: 40%;
    height: 20%;
  }
  .wrapperlvl1 .button-wrapper button img {
    width: 80%;
  }
  .wrapperlvl1 .button-wrapper button .button-txt {
    font-size: 30px;
    color: var(--color5);
  }
}
.wrapperlvl2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl2 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl2 .modal-content {
  background-color: #fefefe;
  padding: 0px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

/* Стиль для кнопок */
.wrapperlvl2 .modal .modal-content .note-wrapper {
  width: 100%;
  min-height: 100%;
  background-image: url(./fon/fon.png);
  font-family: Arial, sans-serif;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header {
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color5);
  top: 0.1px;
  width: 100%;
  min-width: 300px;
  height: 70px;
  /* border: 1px solid red; */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  width: 95%;
  /* border: 1px solid red; */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav div {
  /* border: 2px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-one,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-two,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-thre,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-four {
  font-size: 16px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-today,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-week,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-month,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-quarter,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-year {
  font-size: 24px;
}

.wrapperlvl2 button {
  background: none;
  border: none;
  color: var(--color3);
  font-size: 25px;
  cursor: pointer;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav button:hover {
  color: var(--color5);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_white,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_red,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_yellow,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_green {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_white:hover,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_red:hover,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_yellow:hover,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_green:hover,
.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .all:hover {
  border: 3px solid var(--color5);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_white {
  background-color: var(--color3);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_red {
  background-color: var(--color1);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_yellow {
  background-color: var(--color2);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .note-color_green {
  background-color: var(--color4);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .create {
  font-size: 35px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .all {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--color3);
  background: rgb(247, 136, 136);
  background: -webkit-gradient(linear, left top, right top, from(rgb(247, 136, 136)), color-stop(50%, rgb(243, 210, 80)), to(rgb(136, 189, 188)));
  background: linear-gradient(90deg, rgb(247, 136, 136) 0%, rgb(243, 210, 80) 50%, rgb(136, 189, 188) 100%);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .header .nav input[type=text] {
  border-radius: 5px;
  width: 80%;
  padding: 0 0 0 15px;
  font-size: 16px;
  height: 30px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper #notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* Обеспечивает переход строк */
  padding: 20px;
  gap: 20px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22%;
          flex: 1 0 22%; /* Устанавливает базовую ширину элемента и позволяет ему расти */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Учитывает отступы и границы */
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  min-width: 300px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note-title,
.wrapperlvl2 .modal .modal-content .note-wrapper .note-title_input {
  /* border: 1px solid red; */
  background-color: #fff;
  width: auto;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note-body,
.wrapperlvl2 .modal .modal-content .note-wrapper .note-body_textarea {
  /* border: 1px solid red; */
  background-color: #fff;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note .note-date,
.wrapperlvl2 .modal .modal-content .note-wrapper .note .note-deadline {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 5px;
  margin-left: 5px;
  /* border: 1px solid red; */
}

color-picker .wrapperlvl2 .modal .modal-content .note-wrapper .note .note-date .note-date-wrap,
.wrapperlvl2 .modal .modal-content .note-wrapper .note .note-deadline .note-deadline-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /* min-height: 20px; */
  /* background-color: #fff; */
  color: var(--color6);
  /* border-radius: 5px; */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note .note-date .note-date-wrap .date-text,
.wrapperlvl2 .modal .modal-content .note-wrapper .note .note-date .note-date-wrap .year,
.wrapperlvl2 .modal .modal-content .note-wrapper .note .note-deadline .note-deadline-wrap .deadline-text {
  margin-right: 5px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .edit-note {
  /* border: 1px solid red; */
  background-color: #fff;
  color: var(--color6);
  font-size: 15px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .delete-note {
  /* border: 1px solid red; */
  background-color: #fff;
  color: var(--color6);
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .edit-note:hover,
.wrapperlvl2 .modal .modal-content .note-wrapper .delete-note:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color5);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .popup-content {
  background-color: var(--color3);
  height: 40%;
  margin: 10% auto;
  border-radius: 5px;
  width: 100%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper #note-title {
  width: 100%;
  height: 10%;
  border-radius: 5px;
  /* color: #fff; */
  margin: 0;
  padding: 10px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .note-body_textarea {
  width: 100%;
  height: 60%;
  font-size: 16px;
  border-radius: 5px;
  /* color: #fff; */
  resize: none;
  padding: 10px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .color-picker {
  width: 18%;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .close-btn {
  background-color: #fff;
  color: var(--color6);
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .save-btn {
  background-color: #fff;
  color: var(--color6);
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .close-btn:hover,
.wrapperlvl2 .modal .modal-content .note-wrapper .save-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Модальное окно предупреждающее об удалении заметки */
/* ======================================================== */
.wrapperlvl2 .modal .modal-content .note-wrapper .modal {
  display: none;
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color5);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content {
  background-color: var(--color3);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--color5);
  width: 30%;
  height: 30%;
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* border: 1px solid rgb(229, 255, 0); */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content h4 .fa-solid {
  font-size: 80px;
  color: var(--color1);
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 30px;
  color: #000;
  /* border: 1px solid rgb(255, 0, 170); */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  /* border: 1px solid red; */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content #confirmDelete {
  /* border: 1px solid red; */
  background-color: #fff;
  color: var(--color5);
  font-size: 25px;
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content #cancelDelete {
  /* border: 1px solid red; */
  background-color: #fff;
  color: var(--color5);
  font-size: 25px;
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

/* ======================================================== */
.wrapperlvl2 .modal .modal-content .note-wrapper #notificationMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 30px;
  color: #000;
  /* border: 1px solid rgb(255, 0, 170); */
}

.wrapperlvl2 .modal .modal-content .note-wrapper .modal-content #closeNotification {
  /* border: 1px solid red; */
  background-color: #fff;
  color: var(--color5);
  font-size: 25px;
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .wrapperlvl2 .modal .modal-content .note-wrapper .header {
    height: auto;
    /* border: 1px solid red; */
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
    width: 95%;
    gap: 0;
    padding: 0;
    margin: 0;
    /* border: 1px solid rgb(43, 255, 0); */
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-one {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 0;
    grid-row-end: 1;
    gap: 5px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-two {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 0;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-thre {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 0;
    grid-row-end: 2;
    gap: 15px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav button {
    /* border: 1px solid red; */
    width: 5%;
    margin: 10px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav button:hover {
    color: none;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-thre .create {
    font-size: 35px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper #note-search {
    width: 80%;
    margin: 10px auto;
    height: 30px;
    /* border: 1px solid rgb(128, 255, 0); */
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .popup-content {
    height: 90%;
    width: 100%;
    max-width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .color-picker {
    /* border: 1px solid rgb(0, 247, 255); */
    width: 35%;
    color: var(--color5);
    font-size: 12px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper #note-color {
    /* border: 1px solid rgb(255, 21, 0); */
    height: 35px;
    border-radius: 5px;
    color: var(--color5);
    font-size: 12px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .close-btn {
    font-size: 15px;
    padding: 10px;
    /* margin-left: 10px; */
    /* border: 1px solid rgb(128, 255, 0); */
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .save-btn {
    font-size: 15px;
    padding: 10px;
    /* margin-left: 10px; */
    /* border: 1px solid rgb(128, 255, 0); */
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .close-btn:hover,
  .wrapperlvl2 .modal .modal-content .note-wrapper .save-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .modal-content {
    margin-top: 50%;
    width: 90%;
    height: 50%;
    gap: 50px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .modal-content h4 .fa-solid {
    font-size: 120px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .modal-content p {
    font-size: 20px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper #notificationMessage {
    font-size: 20px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .modal-content #confirmDelete,
  .wrapperlvl2 .modal .modal-content .note-wrapper .modal-content #cancelDelete,
  .wrapperlvl2 .modal .modal-content .note-wrapper .modal-content #closeNotification {
    font-size: 20px;
    padding: 5px 25px;
  }
  .wrapperlvl2 .modal .modal-content .note-wrapper .header .nav .nav-four {
    display: none;
  }
}
/* ======================================================== */
.wrapperlvl3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl3 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl3 .modal-content {
  background-image: url(../fon/fon.png);
  border: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperlvl3 .modal-content .nav-wrapper button {
  background: transparent;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl3 .modal-content .nav-wrapper button img {
  width: 50px;
}

.wrapperlvl3 .modal-content .nav-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperlvl4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl4 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl4 .modal-content {
  background-image: url(../fon/fon.png);
  border: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperlvl4 .modal-content .nav-wrapper button {
  background: transparent;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl4 .modal-content .nav-wrapper button img {
  width: 50px;
}

.wrapperlvl4 .modal-content .nav-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperlvl5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl5 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl5 .modal-content {
  background-image: url(../fon/fon.png);
  border: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperlvl5 .modal-content .nav-wrapper button {
  background: transparent;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl5 .modal-content .nav-wrapper button img {
  width: 50px;
}

.wrapperlvl5 .modal-content .nav-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperlvl6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl6 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl6 .modal-content {
  background-image: url(../fon/fon.png);
  border: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperlvl6 .modal-content .nav-wrapper button {
  background: transparent;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl6 .modal-content .nav-wrapper button img {
  width: 50px;
}

.wrapperlvl6 .modal-content .nav-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperlvl7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Стиль для фона модального окна */
.wrapperlvl7 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Стиль для содержимого модального окна */
.wrapperlvl7 .modal-content {
  background-image: url(../fon/fon.png);
  border: 1px solid #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperlvl7 .modal-content .nav-wrapper button {
  background: transparent;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.wrapperlvl7 .modal-content .nav-wrapper button img {
  width: 50px;
}

.wrapperlvl7 .modal-content .nav-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
